@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

#root{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.circle{
  box-shadow: inset 0 -2px 18px 0 rgba(0, 0, 0, 0.5),
  inset ;
}

.contact-head::after{
  content: " ";
  position: absolute;
  bottom: 2px;
  left: -30px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 12px 12px 0 #D8DFE5;
}

.contact-head::before{
  content: " ";
  position: absolute;
  bottom: 2px;
  right: -30px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -12px 12px 0 #D8DFE5; 
}

.marquee::-webkit-scrollbar{
  display: none;
}

.client{
  width: 231px;
  height: 231px;
}

.profile-image img{
  transition: filter 0.5s ease;
  filter: grayscale(100%)
}

.profile-image:hover{
  cursor: pointer;
}

 
.profile-image:hover img{
  filter: unset;
}