@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* -webkit-overflow-scrolling: ; */
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.circle {
  box-shadow: inset 0 -2px 18px 0 rgba(0, 0, 0, 0.5), inset;
}

.contact-head::after {
  content: " ";
  position: absolute;
  bottom: 2px;
  left: -30px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 12px 12px 0 #d8dfe5;
}

.contact-head::before {
  content: " ";
  position: absolute;
  bottom: 2px;
  right: -30px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -12px 12px 0 #d8dfe5;
}

.marquee::-webkit-scrollbar {
  display: none;
}

.client {
  min-width: 231px;
  height: 231px;
  display: block;
  margin-inline: 20px;
}

.profile-image img {
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}

.profile-image:hover {
  cursor: pointer;
}

.profile-image:hover img {
  filter: unset;
}

.arrow-down {
  animation: bounce 2s infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes bounce {
  0% {
    scale: 0.65;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 0.65;
  }
}

.phone-box {
  animation: bounce-too 1.5s infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  /* animation-delay: 1.25s; */
}

@keyframes bounce-too {
  0% {
    scale: 0.65;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 0.65;
  }
}

.contact-btn {
  animation: pulse 1.5s infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  transform-origin: left top;
}

@keyframes pulse {
  0% {
    scale: 0.95;
    margin-right: 18%;
    transform-origin: left top;
  }
  50% {
    scale: 1;
    transform-origin: left top;
  }
  100% {
    scale: 0.95;
    margin-right: 18%;
    transform-origin: left top;
  }
}

.project-btn-text {
  animation: skale 1.5s infinite;
  display: block;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes skale {
  0% {
    scale: 0.8;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 0.8;
  }
}

.contact-text {
  animation: pulse-too 1.5s infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes pulse-too {
  0% {
    scale: 0.8;
    top: 10px;
    left: -12px;
  }
  50% {
    scale: 1;
    top: 16px;
    left: 16px;
  }
  100% {
    scale: 0.8;
    top: 10px;
    left: -12px;
  }
}

.project-btn {
  animation: pulse-3 1.5s infinite;
  bottom: 139px;
}

@keyframes pulse-3 {
  0% {
    scale: 0.9;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 0.9;
  }
}

.slider .carousel-slide {
  transition: filter 0.5s ease-in-out, opacity 1s ease-in-out;
  opacity: 0;
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  right: 0;
}

.slider .carousel-word,
.slider .carousel-desc {
  opacity: 0;
  visibility: hidden;
  transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
}

.slider:hover .carousel-slide {
  filter: grayscale(0);
}

.slider .carousel-slide.active,
.slider .carousel-word.active,
.slider .carousel-desc.active {
  opacity: 1;
  visibility: visible;
  /* z-index: 1; */
}
